.Signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #2a2c3d;
}

.Signup-container h1 {
  color: white;
}

#Signup-response {
  color: red;
}